Languages/J2EE/from_O2_Core_FileViewers/XSD/tiles-definition.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tiles-definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="definition">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="put">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                  <xs:attribute name="direct" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="path" type="xs:string" use="required" />
            <xs:attribute name="page" type="xs:string" use="optional" />
            <xs:attribute name="extends" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>